.line-height {
	line-height: 30px;
}
img {
	height: 250px;
	width: auto;
	display: inline-block;
}
section {
	
}
article{
	width: 1100px;
}
aside {
	
}
.img_art1 {

}
.img_art2 {
	float: right;
	padding: 25px;
}
.img_art3 {
	
}
.legende {
	
}