body {
	background-color: #E8E8E8;
}
.line-height {
	line-height: 30px;
	font-style: italic;
}
img {
	height: 250px;
	width: auto;
	display: inline-block;
}
header {
	background-color: #79C8E8;
	padding: 25px;
}
section {
	width: 1100px;
	height: auto;
	margin: center;
}
article{
	
}
aside {
	
}
.img_art1 {
	padding: 25px;
	width: 250px
}
.img_art2 {
	float: right;
	padding: 25px;
	width: 250px
}
.img_art3 {
	float: right;
	padding: 25px;
	width: 250px
}
.legende {
	float: right;

}